/* div{
    text-align: center;
    background-color: rgb(143, 138, 216);
} */
.login-container,.register-container{
    text-align: center;
    background-color: rgb(152, 181, 209);
    width: 500px;
}
